:root{
  --color-grey-900:#212121;
  --color-grey-800:#424242;
  --color-grey-700:#616161;
  --color-grey-600:#757575;
  --color-grey-500:#9E9E9E;
  --color-grey-400:#BDBDBD;
  --color-grey-300:#E0E0E0;
  --color-grey-200:#EEEEEE;
  --color-grey-100:#F5F5F5;
  --color-grey-50:#FAFAFA;
  --color-blue-900: #0D47A1;
  --color-blue-800: #1565C0;
  --color-blue-700: #1976D2;
  --color-blue-600: #1E88E5;
  --color-blue-500: #2196F3;
  --color-blue-400: #42A5F5;
  --color-blue-300: #64B5F6;
  --color-blue-200: #90CAF9;
  --color-blue-100: #BBDEFB;
  --color-blue-50: #E3F2FD;
  --footer-bg-color: #343A40;
  --copyright-bg-color: #1A252F;
}

.icon{
  height: 1em;
}

main{
  margin-top: 3.5em;
  min-height: 50vh;
}

.panel{
  min-height: 25vh;
  padding-bottom: 1vh;
}
.panel img{
  height: 25vh;
  border-radius: 100%;
  margin-top: 1em;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-color: rgb(238, 238, 238);
    border-left-width: 1px;
    border-left-width: .25rem;
    border-radius: .25rem;

}

.bd-callout-primary {
    border-left-color: rgb(0, 123, 255);
}

footer{
  background-color: var(--footer-bg-color);
  padding-top: 2vh;
}

footer img{
  width: 32px;
  border-radius: 100%;
  transition: 0.3s;
  padding: 0.1vw;
}

footer img:hover{
  background-color: white;
}

blockquote footer{
  background-color:rgba(0,0,0,0);
}

.copyright{
  background-color: var(--copyright-bg-color);
  font-weight: bold;
  padding-top: 1vh;
  padding-bottom: 0.1vh;
}

.infos{
  width: 85vw;
  margin: 0 auto;
}

.infos h2{
  font-weight: bolder;
}

#me_work{
  width: 65%;
}
